.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
}
  
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 22px;
}
.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DE7C25 0.36%, #B923E1 120.6%);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}
.nav-connect:hover{
    transform: scale(1.05);
}